services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
      args:
        - DATABASE_URL=postgresql://postgres:postgres@db:5432/cms?schema=public
    container_name: cms-docker
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/cms?schema=public
    ports:
      - '3000:3000'
    volumes:
      - /usr/src/app/.next
      - /usr/src/app/node_modules
    develop:
      watch:
        - path: ./
          action: sync
          target: /usr/src/app
          ignore:
            - node_modules/
            - .next/
            - .git/
        - path: package.json
          action: rebuild
        - path: pnpm-lock.yaml
          action: rebuild
    depends_on:
      db:
        condition: service_healthy

  prisma-studio:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: prisma-studio
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/cms?schema=public
    ports:
      - "5555:5555"
    volumes:
      - /usr/src/app/node_modules
    command: npx prisma studio --port 5555 --hostname 0.0.0.0
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:alpine
    container_name: db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: cms
    ports:
      - 5432:5432
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: [ 'CMD-SHELL', 'pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}' ]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres-data:
